/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
  filter:alpha(Opacity=100);-moz-opacity:0.7;opacity: 0.9;
  width: 795px;
  margin-left: auto ;
  margin-right: auto ;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}


.sign_form {
	padding: .75rem 1.5rem;
}
.sign_form .btn {
}

.sign_up{
     width:545px;
     height:auto;
     margin-left: auto ;
  	 margin-right: auto ;
  	position: relative;
    border-radius: 6px;
    padding:0 !important;
    margin-top:70px !important;
    background: #eee;
    margin-top: 23px;
    margin-bottom: 0 !important;
    filter:alpha(Opacity=100);-moz-opacity:0.7;opacity: 0.9;
}